@import '../../styles/js-tachyons.css';
// @import '~tachyons-sass/tachyons.scss';

.gc311 {
  grid-column: 3 / 11;
}

.profileFooterSection {
  grid-column: 1 / 13;
  align-items: center;
  border-bottom: 5px solid var(--hot-pink);
  border-top: 2px solid var(--gray-600);
  display: flex;
  flex-direction: column;
  padding: 20px 0 0;
  width: 100%;
}

.chevronWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;

  svg {
    width: 2rem;
  }
}
