@import '../../styles/js-tachyons.scss';
// @import '~tachyons-sass/tachyons.scss';

.gc311 {
  grid-column: 3 / 11;
}

.profileFooterSection {
  grid-column: 1 / 13;
  align-items: center;
  border-bottom: 5px solid $hot-pink;
  border-top: 2px solid $gray-600;
  display: flex;
  font-family: 'monospace';
  flex-direction: column;
  padding: 20px 0 0;
  width: 100%;
}

.chevronWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;

  svg {
    width: 2rem;
  }
}
