@import '../../styles/js-tachyons.css';

.introWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: repeat(6, 1fr);
  // grid-auto-rows: min-content;
}

.avatarContainer {
  grid-column: 1 / 13;
  grid-row: 1 / 5;
  @media (min-width: 60em) {
    grid-column: 3 / 5;
  }
}

.blurbContainer {
  grid-column: 1 / 13;
  grid-row: 3 / 5;

  @media (min-width: 60em) {
    grid-column: 4 / 11;
  }
}

.footerContainer {
  grid-column: 1 / 13;
  grid-row: 5 / 7;
}
