.avatarWrapper {
  align-items: center;
  display: flex;
  grid-column: 4 / 10;
}

.introWrapper {
  grid-column: 1 / 13;
}

.introContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 60em) {
  .avatarWrapper {
    grid-column: 3 / 6;
  }
  .introWrapper {
    grid-column: 6 / 13;
  }
}