{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:promise/recommended",
    "plugin:cypress/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react-hooks"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": { "jsx": true },
    "sourceType": "module",
    "useJSXTextNode": true,
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "env": { "browser": true, "jest": true, "node": true },
  "rules": {
    "indent": "off",
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "never"],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "no-console": ["off"],
    "no-undef": "error",
    "object-curly-spacing": ["error", "always"],
    "promise/no-callback-in-promise": "off",
    "react/no-unescaped-entities": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/array-type": "warn",
    "@typescript-eslint/ban-ts-ignore": ["off"],
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/camelcase": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/member-delimiter-style": ["off"],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
  },
  "settings": { "react": { "version": "detect" } },
  "globals": { "__DEV__": true, "process": true }
}
