# OS stuffs.
*.log
.DS_Store
.env
.tern-port

# Gatsby-specific generated output.
.cache/
.gatsby-context.js
.intermediate-representation/
public/

# JS lib directories.
flow-libs/
node_modules/

# Test / test-coverage-related.
test/coverage/
