/* @import '~tachyons-sass/tachyons.scss'; */
@import './tachyons.css';

:root {
  --hot-pink: #FC5270;
  --gray-100: #F8F9FA;
  --gray-200: #E9ECEF;
  --gray-300: #DEE2E6;
  --gray-400: #CED4DA;
  --gray-500: #ADB5BD;
  --gray-600: #868E96;
  --gray-700: #495057;
  --gray-800: #343A40;
  --gray-900: #212529;
  --monospace: 'BasisGrotesqueProMonoRegular', 'SFMono-Regular', Menlo, Monaco,
    Consolas, 'Courier New', monospace;
  --sans-serif: 'Lato', sans-serif;
  --serif: 'Spectral', serif;
}

.grid-col-3-6 {
  grid-column: 3 / 6;
}

/* .grid-col-6-9 {
  grid-column: 6 / 9;
} */

.grid-col-6-11 {
  grid-column: 6 / 11;
}

.shadow-none {
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
