/* @import '~tachyons-sass/tachyons.scss'; */

@import './tachyons.css';

@custom-media --breakpoint-not-small screen and (min-width: 30em);
@custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
@custom-media --breakpoint-large screen and (min-width: 60em);

:root {
  --hot-pink: #FC5270;
  --gray-100: #F8F9FA;
  --gray-200: #E9ECEF;
  --gray-300: #DEE2E6;
  --gray-400: #CED4DA;
  --gray-500: #ADB5BD;
  --gray-600: #868E96;
  --gray-700: #495057;
  --gray-800: #343A40;
  --gray-900: #212529;
  --code: 'Roboto Mono', 'andale mono', 'SFMono-Regular', Menlo, Monaco,
    Consolas, 'Liberation Mono', monospace;
  --sans-serif: 'Rubik', sans-serif;
  --serif: 'Spectral', serif;
  --font-size-1: 3rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.75rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;
  --font-size-7: 0.75rem;
}

.grid {
  display: grid;
}

.grid-full {
  grid-column: 1 / 13;
}

.grid-col-3-6 {
  grid-column: 3 / 6;
}

.grid-col-6-9 {
  grid-column: 6 / 9;
}

.grid-col-6-11 {
  grid-column: 6 / 11;
}

.shadow-none {
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
