@import '../utils/colors.scss';

body {
  background-color: $background;
  color: $white;
}

a {
  font-weight: 300;
  color: $blue; // $pink; // rgb(253, 107, 156);
}

.more {
  text-align: center;
  margin-bottom: 1em;
}
