$gray-100: #F8F9FA !default;
$gray-200: #E9ECEF !default;
$gray-300: #DEE2E6 !default;
$gray-400: #CED4DA !default;
$gray-500: #ADB5BD !default;
$gray-600: #868E96 !default;
$gray-700: #495057 !default;
$gray-800: #343A40 !default;
$gray-900: #212529 !default;
$black: $gray-800 !default;
$white: $gray-400 !default;

$blue: #56E2FF !default;
$indigo: #3F51B5 !default;
$purple: #673AB7 !default;
// $pink: #FC718D !default;
$pink: #FF3A5C !default;
$red: #F44336 !default;
$orange: #FF5722 !default;
$yellow: #FBEBA9 !default;
$green: #B4DF75 !default;
$teal: #009688 !default;
$cyan: #00BCD4 !default;

$background: #343a40;
// $background: #282C34;

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $purple,
  secondary: $gray-600,
  success: $green,
  info: $blue,
  warning: $yellow,
  danger: $red,
  light: $gray-300,
  dark: $gray-800,
  background: $background
) !default;
