@import '../../styles/js-tachyons.css';
@import '../../utils/colors.scss';

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 12px 12px rgba(40, 40, 40, 0.6);
  padding: 0;
  margin: 0;
}

@media (--breakpoint-not-small) {
  img.js-avatar {
    max-width: 75%;
  }
}
