@import '../../utils/colors.scss';

// .js-avatar-wrapper {
//   align-items: center;
//   display: flex;
//   justify-content: center;
//   margin: 0 auto;
// }
//   // padding-bottom: 20px;
//   // height: 100%;

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 5px 5px $black;
  display: flex;
  justify-content: center;
  padding: 0;
  // width: 75%;
}

// @media (max-width: map-get($container-max-widths, 'xl') - 1) {
//   img.js-avatar {
//     max-width: 50%;
//   }
// }
