// @import '~tachyons-sass/tachyons.scss';
@import '../styles/js-tachyons.scss';

$navbar-height: 74px;

.baseGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  height: 100vh;
}

.gridCol12 {
  display: grid;
  grid-column: 1 / 13;
}

.navbar {
  @extend .gridCol12;
  // height: $navbar-height;
}

.profileMain {
  @extend .baseGrid;
  @extend .gridCol12;
  // height: 100vh- $navbar-height;
}

// .bodyContainerStyle {
//   grid-column: 2 / 10;
// }

.vh100 {
  height: 100vh;
}