@import '../../layouts/base.scss';

.footer-section {
  border-top: 1px solid $gray-600;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: $font-size-sm;
  line-height: $line-height-wide;
  height: 4rem;
  justify-content: center;
  position: relative;
  width: 100%;
}
